@model CheeseMVC.ViewModels.AddCategoryViewModel

<form asp-controller="CategoryController" asp-action="Add">
    <input asp-for="Name" />
    <label asp-for="Name"></label>
    <span asp-validation-for="Name"></span>
</form>


